__pycache__/
echo "##active_line2##"
*.py[cod]
echo "##active_line3##"
*.pyo
echo "##active_line4##"
*.pyc
echo "##active_line5##"
*~
echo "##active_line6##"
.ipynb_checkpoints
echo "##active_line7##"
.env
echo "##active_line8##"
.dev_grimo/
